.Banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 20px 147px 20px;
  background: #05a4c9;
  color: white;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1280px) {
    padding-bottom: 48px;
    padding-top: 0;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileImage {
  display: none;
  height: 190px;
  width: 100%;
  object-fit: none;

  @media (max-width: 1280px) {
    display: block;
  }
}

.title {
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  font-size: 52px;
  text-align: center;
  margin-bottom: 12px;

  @media (max-width: 480px) {
    font-size: 36px;
    margin-bottom: 14px;
    max-width: 290px;
  }
}

.subtitle {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 28px;
  margin-bottom: 34px;
  text-align: center;
  max-width: 501px;

  @media (max-width: 480px) {
    font-size: 20px;
    margin-bottom: 36px;
    max-width: 320px;
  }

  &.started {
    margin-bottom: 66px;

    @media (max-width: 480px) {
      margin-bottom: 28px;
    }
  }
}

.timerTitle {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;

  @media (max-width: 480px) {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.timer {
  margin-bottom: 49px;

  @media (max-width: 480px) {
    margin-bottom: 40px;
  }
}

.soldOutText {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 22px;
  text-align: center;
  margin-bottom: 6px;
}

.mintIndicator {
  margin-bottom: 14px;
  &.soldOut {
    margin-top: 65px;
    margin-bottom: 49px;

    @media (max-width: 480px) {
      margin-top: 28px;
    }
  }

  @media (max-width: 480px) {
    margin-bottom: 8px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;

  @media (min-width: 481px) { 
    & > *:not(:last-child) {
      margin-right: 16px;
    }
  }

  @media (max-width: 480px) {
    flex-direction: column-reverse;

    & > *:not(:first-child) {
      margin-bottom: 16px;
    }
  }
}

.bannerButton {
  width: 190px;
}

.leftImage {
  position: absolute;
  top: 0;
  left: 82px;
  width: 397px;
  height: 456px;

  @media (max-width: 1280px) {
    display: none;
  }
}

.rightImage {
  position: absolute;
  top: -25px;
  right: -35px;
  transform: translateX(100%);
  width: 275px;
  height: 440px;

  @media (max-width: 1280px) {
    display: none;
  }
}