.PremiumCollection {
  width: 100%;
  background: #fdf2e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 132px 117px;
  color: #494949;

  @media (max-width: 480px) {
    padding: 40px 20px;
  }
}

.title {
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  font-size: 44px;
  margin-bottom: 16px;
  text-align: center;

  @media (max-width: 480px) {
    font-size: 35px;
  }  
}

.description {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 28px;
  margin-bottom: 64px;
  text-align: center;
  max-width: 600px;

  @media (max-width: 480px) {
    margin-bottom: 40px;
    font-size: 20px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: 481px) {
    & > *:not(:last-child) {
      margin-right: 44px;
    }
  }

  @media (max-width: 480px) {
    flex-direction: column;
    & > *:not(:last-child) {
      margin-bottom: 44px;
    }
  }  
}

.card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #fffdfa;
  border-radius: 15px;
  flex: 0 0 0px;
}

.cardImage {
  width: 276px;
  margin-bottom: 24px;

  @media (max-width: 480px) {
    width: 260px;
  }
}

.cardTitle {
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 11px;
}

.cardDescription {
  font-family: 'Avenir-Book', Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.marked {
  position: relative;
  z-index: 0;
  display: inline-block;

  &::before {
    content: '';
    height: 15px;
    width: calc(100% + 10px);
    position: absolute;
    bottom: 0;
    left: -5px;
    background: #ffd400;
    z-index: -1;
  }
}