.Mint {
  width: 100%;
  overflow: hidden;
  display: grid;
}

.background {
  grid-row: 1;
  grid-column: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 88px;
  background: #fffdfa;
  border-radius: 20px;
  color: #494949;
  position: relative;
}

.mintAnchor {
  position: absolute;
  top: -150px;
}

.title, .price {
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  font-size: 44px;
}

.title {
  margin-bottom: 24px;
  max-width: 373px;
  text-align: center;
}

.helpTitle {
  font-family: 'Gilroy-Bold', Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 12px;
}

.priceOverline, .availabilityText, .helpText {
  font-family: 'Gilroy-Medium', Arial, sans-serif;
  font-size: 20px;
}

.priceOverline {
  margin-bottom: 12px;
}

.availabilityText {
  margin-bottom: 40px;
}

.helpText a {
  font-family: 'Gilroy-SemiBold', Arial, sans-serif;
  color: #ef5631;
}

.mintPrice {
  background: yellow;
  display: grid;
  padding: 35px 41px;
  margin-bottom: 32px;
  position: relative;
}

.mintPriceBackground {
  grid-row: 1;
  grid-column: 1;
}

.mintPriceContent {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.leftFlower, .rightFlower, .leftStar, .rightStar {
  position: absolute;
}

.leftFlower {
  top: -15px;
  left: 30px;
  height: 70px;
  transform: translateX(-100%) scaleX(-1);
}

.rightFlower {
  top: -15px;
  right: 30px;
  height: 70px;
  transform: translateX(100%);
}

.leftStar {
  bottom: -12px;
  left: -60px;
  transform: translateX(-100%);
}

.rightStar {
  top: 45px;
  right: -80px;
  transform: translateX(100%);
}

.price {
  margin-right: 8px;
}

.priceUnit {
  font-family: 'Gilroy-Medium', Arial, sans-serif;
  font-size: 32px;
  margin-bottom: 4px;
}

.connectButton {
  margin-bottom: 56px;
}