.Footer {
  padding: 32px 20px 24px;
  background: #05a4c9;
  color: white;
  display: flex;
  flex-direction: column;
}

.shareButtons, .links, .copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shareButtons {
  margin-bottom: 14px;

  & > *:not(:last-child) {
    margin-right: 16px;
  }
}

.links {
  display: flex;
  font-family: 'Gilroy-Medium', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 22px;

  @media (min-width: 481px) {
    & > *:not(:last-child) {
      margin-right: 32px;
    }
  }

  @media (max-width: 480px) {
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.copyright {
  font-family: 'Gilroy-Regular', Arial, sans-serif;
  font-size: 14px;
}

.faqButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Gilroy-Medium', Arial, sans-serif;
  font-size: 18px;
  color: white;
  padding: 0;
}