.button, .wallet-adapter-button.button {
  background: #ef5631;
  padding: 15px 40px;
  border-radius: 27px;
  border: none;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Gilroy-SemiBold', Arial, sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  height: auto;
}

.wallet-adapter-button.button:not([disabled]):hover {
  background-color: #ef5631;
}

.button.ghost {
  background: transparent;
  border: 2px solid white;
}

.button.secondary {
  background: white;
}

.button.small {
  font-size: 16px;
  line-height: 16px;
  padding: 8px 20px;
}

.button.ghost.small {
  padding: 8px 18px;
}

.button.medium {
  font-size: 18px;
  line-height: 18px;
  padding: 15px 20px;
}

.button.ghost.medium {
  padding: 13px 18px;
}