@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url('/assets/Gilroy-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: local('Gilroy-Semibold'), url('/assets/Gilroy-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Regular'), url('/assets/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Avenir-Book';
    src: local('Avenir-Book'), url('/assets/Avenir-Book.woff') format('woff');
}

@font-face {
    font-family: 'Aftika-SemiBold';
    src: local('Aftika-Semibold'), url('/assets/Aftika-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Aftika-ExtraBold';
    src: local('Aftika-ExtraBold'), url('/assets/Aftika-ExtraBold.woff') format('woff');
}
