@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url('/assets/Gilroy-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: local('Gilroy-Semibold'), url('/assets/Gilroy-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url('/assets/Gilroy-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Regular'), url('/assets/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Black';
    src: local('Gilroy-Black'), url('/assets/Gilroy-Black.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold'), url('/assets/Gilroy-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Avenir-Book';
    src: local('Avenir-Book'), url('/assets/Avenir-Book.woff') format('woff');
}

@font-face {
    font-family: 'Aftika-SemiBold';
    src: local('Aftika-Semibold'), url('/assets/Aftika-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Aftika-ExtraBold';
    src: local('Aftika-ExtraBold'), url('/assets/Aftika-ExtraBold.woff') format('woff');
}
