html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(../assets/Gilroy-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: local('Gilroy-Semibold'), url(../assets/Gilroy-Semibold.woff) format('woff');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: local('Gilroy-Regular'), url(../assets/Gilroy-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Avenir-Book';
  src: local('Avenir-Book'), url(../assets/Avenir-Book.woff) format('woff');
}